<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="OwpUsers">
            <file>tests/OwpMessaging_test.php</file>
            <file>tests/OwpException_test.php</file>
            <file>tests/OwpUsers_test.php</file>
            <file>tests/OwpSettings_test.php</file>
            <file>tests/OwpCms_test.php</file>
            <file>tests/OwpPasswordValidator_test.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="localhost" />
        <env name="DB_USER" value="travis" />
        <env name="DB_PASS" value="" />
        <env name="DB_NAME" value="owp_users" />
    </php>
    <logging>
        <log type="junit" target="./logs/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-text" target="./logs/testdox.txt"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>